{% extends 'index.html' %}


{% block content %}
<div class="container">
    <h1>Libros</h1>
    <div class="table-responsive">
        <table class="table table-hover align-middle">
            <thead>
                <tr>
                    <th>
                        Código
                    </th>
                    <th>
                        Título
                    </th>
                    <th>
                        Año
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for book in books %}
                <tr>
                    <td>
                        <a href="/books/book/?id={{book.id}}">{{ book.id }}</a>
                    </td>
                    <td>
                        {{ book.titulo }}
                    </td>
                    <td>
                        {{ book.año }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>
{% endblock %}